<div class="row" style="width: 98%;margin-bottom: 5%;margin-left:1%;">
    <div class="col-sm-8">
        <app-ptmheader></app-ptmheader>
        <div class="row">
            <div class="col-sm-12">
                <div class="container" style="padding-left: 9%;">
                    <div class="row">

                        <div id="loginbox" class="col-sm-12" style="margin-top: 6%; ">

                            <h2 style="text-align: center;">Payment Method </h2>
                            <div style="margin-top: 10px;text-align: center;">

                                <button class="btn btn-primary" (click)="atmCard()">Card</button>
                                <button class="btn btn-primary" (click)="upiOpen()"
                                    style="margin-left: 15%;">UPI</button>
                                <button class="btn btn-primary" (click)="netOpen()" style="margin-left: 15%;">Net
                                    Banking</button>
                            </div>
                            <div class="card" *ngIf="cardThing" style="margin-top: 3%;">
                                <div class="card-header">
                                    <h5>Atm Card/ Debit Card <i style="margin-left: 3px;"
                                            class="fa-solid fa-2x fa-money-check"></i></h5>
                                </div>
                                <div class="row card-body">
                                    <div class="col-sm-6">

                                        <input class="form-control" style="width: 100%;" type="text" name="" id=""
                                            placeholder="Enter Bank Name"><br>
                                        <div><label for="">Enter Last 6 Digits of Atm/Debit Card</label>
                                            <input class="form-control" style="width: 100%;" type="text" name="" id=""
                                                placeholder="6162 63XX XXXX"><br>

                                        </div>
                                        <div style="display: inline-flex; width: 100%;">
                                            <label style="padding-top: 5px;" for="text">Expire Date</label>
                                            <select name="" class="form-control" placeholder="Month"
                                                style="width: 80px;margin-left: 5px;">
                                                <option value="1">Month</option>
                                                <option value="1">1</option>
                                                <option value="1">2</option>
                                                <option value="1">3</option>
                                                <option value="1">4</option>
                                                <option value="1">5</option>
                                                <option value="1">6</option>
                                                <option value="1">7</option>
                                                <option value="1">8</option>
                                                <option value="1">9</option>
                                                <option value="1">10</option>
                                                <option value="1">11</option>
                                                <option value="1">12</option>
                                            </select>
                                            <input class="form-control" style="width: 80px;margin-left: 5px;"
                                                type="text" name="" id="" placeholder="Year">
                                            <button class="btn btn-primary" (click)="cardOtpOpen()"
                                                style="margin-left: 20px;">Get OTP</button>

                                        </div>
                                        <div *ngIf="cardOtp"><input class="form-control" type="text"
                                                placeholder="Enter OTP"
                                                style="width: 30%;margin-top:33px;margin-left: 30%;">
                                            <button routerLink="/ptmpage4" style="width: 100%;margin-top:10px"
                                                class="btn btn-success">Confirm Order</button>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <img width="100%" src="../assets/images/atmcard.png" alt="">
                                    </div>
                                </div>
                            </div>

                            <!----cardend-->
                            <div class="card" *ngIf="upiThing" style="margin-top: 3%;">
                                <div class="card-header">
                                    <img src="../assets/images/images.png" alt="">
                                </div>
                                <div class="card-body">
                                    <div style="display: inline-flex;width: 100%;"><input class="form-control"
                                            style="width: 75%;" type="text" name="" id=""
                                            placeholder="Enter Phone Number"><label
                                            style="padding-top: 7px;margin-right: 30px;" for="text">@ybl</label><br>
                                        <div><button class="btn btn-primary" (click)="getOtp()">Get OTP</button></div>
                                    </div>
                                    <div *ngIf="enterOtp">
                                        <input class="form-control" type="text"
                                            style="margin-top: 10px;width: 30%;margin-left: 36%;text-align: center;"
                                            placeholder="Place OTP Here">
                                        <button routerLink="/ptmpage4" style="width: 100%;margin-top:10px"
                                            class="btn btn-success">Confirm Order</button>
                                    </div>
                                </div>
                            </div>

                            <!---upi end-->
                            <div class="card" *ngIf="netThing" style="margin-top: 3%;">
                                <div class="card-header">
                                    <h5>Net Banking <i style="margin-left: 3px;"
                                            class="fa-solid fa-2x fa-building-columns"></i></h5>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="card-body">
                                            <input class="form-control" style="width: 100%;" type="text" name="" id=""
                                                placeholder="Enter User Name"><br>
                                            <div>
                                                <input class="form-control" style="width: 100%;" type="text" name=""
                                                    id="" placeholder="Password"><br>

                                            </div>
                                            <div>
                                                <button class="btn btn-primary">Login</button>
                                                <button routerLink="/ptmpage4" style="width: 100%;margin-top:10px"
                                                    class="btn btn-success">Confirm Order</button>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-6" style="display: inline-flex;">
                                        <img style="background-color: white;" src="../assets/images/netbanking.png"
                                            alt="">
                                    </div>

                                </div>
                            </div>
                                <!---netbanking end-->

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <div class="col-sm-4" style="padding-top: 4px;">
        <app-slidecart></app-slidecart>
    </div>
</div>