<ng-container *ngIf="products.length != 0">
   <div class="container">
    <div id="carttable" class="card-table">
        <div class="cart-product">
            <table class="table table-responsive">
                <thead>
                    <tr >
                        <th>sr.No</th>
                        <th>product Name</th>
                        <th>product Image</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of products; let i = index">
                        <td>{{i+1}}</td>
                        <td  style="width: 12%;">{{item.title}}</td>
                        <td  style="width: 14%;"><img style="width: 100%;" src="{{item.image}}" alt=""></td>
                        <td style="width: 28%;">{{item.description}}</td>
                        <td style="width: 8%;">{{item.price}}</td>
                        <td><button type="button" class="btn" (click)="dec(item)"><i class="fa fa-minus"></i></button>{{item.quantity}}<button type="button" class="btn" (click)="inc(item)"><i class="fa fa-plus"></i></button></td>
                        
                        <td style="width: 12%;">{{item.total}}</td>
                        <td><button (click)=" removeItem(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></td>
                    </tr>
                    <tr>
                        <td colspan="4"></td>
                        <td style="width: 12%;">   <button  (click)=" emptycart()" class="btn btn-danger">Empty Cart</button>  </td>
                        <td style="width: 12%;">   <button routerLink="/products" class= "btn btn-primary">Shop More </button>  </td>
                        <td>   <button routerLink="/ptmpage1" class="btn btn-success">Checkout</button>  </td>
                        <td style="width: 12%;"><strong>Grand Total : ${{grandTotal}}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
   </div>
   
</ng-container>


<ng-container *ngIf="products.length == 0">
    <div class="container">
        <div id="cartcard" class="card">
            <h5 class="card-tittle">My Cart</h5>
    
        </div>
        <div id="center" class="center">
            <img style="width: 30%;" src="https://st.depositphotos.com/1001877/3814/i/600/depositphotos_38143799-stock-photo-e-commerce-shopping-cart-with.jpg" alt="">
            <h4 style="font-weight: 400;">your cart is empty</h4>
            <h6 style="font-weight: 400;">Add item to it now</h6>
            <button routerLink="/products" class="btn btn-primary">Shop Now</button>
        </div>
    </div>
</ng-container>
