
<div class="container">
  <section class="step-indicator">
      <div class="step step1 active" >
        <div class="stage">
          <div id="number"  class="number" [routerLink]="['/ptmpage1']"   [routerLinkActive]="['is-active']">1</div>
        </div>
        <p>Login</p>
      </div>
    <div class="indicator-line "></div>
    <div class="step step2" >
      <div class="stage">
        <div id="number" class="number" [routerLink]="['/ptmpage2']"  [routerLinkActive]="['is-active']">2</div>
      </div>
      <p  [routerLink]="['/ptmpage2']" [routerLinkActive]="['is-activename']"  >Shipping</p>
    </div>
    <div class="indicator-line" ></div>
    <div class="step step3">
      <div class="stage">
        <div id="number"  class="number"  [routerLink]="['/ptmpage3']"  [routerLinkActive]="['is-active']">3</div>
      </div>
       <p>Payment</p>
    </div>
    <div class="indicator-line"></div>
    <div class="step step3">
      <div class="stage">
        <div   class="number" [routerLink]="['/ptmpage4']"  [routerLinkActive]="['is-active']">4</div>
      </div>
       <p>completed</p>
    </div>
  </section>
</div>

