
<div class="container">
  <section class="step-indicator">
      <div class="step step1 active">
         <input type="radio" id="html" name="fav_language" value="HTML">
        <p>Login</p>
      </div>
    <div class="indicator-line "></div>
    <div class="step step2">
       <input type="radio" id="html" name="fav_language" value="HTML">
      <p>Shipping</p>
    </div>
    <div class="indicator-line"></div>
    <div class="step step3">
       <input type="radio" id="html" name="fav_language" value="HTML">
       <p>Payment</p>
    </div>
    <div class="indicator-line"></div>
    <div class="step step3">
       <input type="radio" id="html" name="fav_language" value="HTML">
       <p>completed</p>
    </div>
  </section>
</div>