#searchbar {
    border-radius: 3px;
    width: 85%;
    margin-left: 20px;
    font-size: 15px;
    padding-left: 6px;
    margin-top: 20%;
}
#serch-icon {
    position: absolute;
    z-index: 1;
    right: 79%;
    top: 47%;
    color: rgb(16, 16, 73);
}
#carticon {
    color: white;
}

#header {
    background-color: #4ea6bc;
}
#logo{
    background: transparent;
}

