<header >
    <div  id="header" class="navbar  shadow-sm">
        <div style="color: white;" class="navbar-brand align-item-center d-flex">
            
                <img id="logo" src="../assets/images/logo.png" alt="" srcset=""> 
        
           
           
            <div class="form-group">
                <input id="searchbar" [(ngModel)]="searchTerm" (keyup)="search($event)"  placeholder="search items here">
            </div>
            <span><i id="serch-icon" class="fas fa-search  "></i></span>
        </div>
        <a style="text-decoration: none; font-size: 24px;color: white;" routerLink="/login" >
            <i class="bi bi-box-arrow-in-right"></i>
            LogIn</a>
       <button  routerLink="/cart" class="btn">
        <i id="carticon" class="fas fa-2x fa-cart-plus"></i>
        <div style="font-size: 10px;" id="noofitems" class="badge bg-danger">{{totalItem}}</div>
       </button>
    </div>
   
 
    
</header>

