#searchbar {
    border-radius: 3px;
    width: 81%;
    margin-left: 20px;
    font-size: 15px;
    padding-left: 6px;
}
#serch-icon {
    position: absolute;
    z-index: 1;
    right: 77%;
    top: 21px;
    color: rgb(16, 16, 73);
}
#carticon {
    color: white;
}

#header {
    background-color: #4ea6bc;
}
#logo{
    background: transparent;
}

