<div id="footernav" class="footernav">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h3>Orders</h3>
                <p style="opacity: 0.7;">Fast Shipping</p>
                <p style="opacity: 0.7;">Live Tracking</p>
                <p style="opacity: 0.7;">Return Policy</p>
                <p style="opacity: 0.7;">Terms & Conditions</p>
            </div>
            <div class="col-sm-3" style="padding-top: 2px;">
                <h3>About</h3>
                <p style="opacity: 0.7;">Deliver All Over India</p>
                <p style="opacity: 0.7;">Good Packing</p>
                <p style="opacity: 0.7;">Contact Us</p>

            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <div class="nav">
                    <div style="margin-right: 10%;"><i class="fa-brands fa-2x fa-twitter"></i></div>
                    <div style="margin-right: 10%;"> <i class="fa-brands fa-2x fa-facebook"></i></div>
                    <div style="margin-right: 10%;"> <i class="fa-brands fa-2x fa-instagram"></i></div>
                    <div> <i class="fa-brands fa-2x fa-github"></i></div>

                </div>
                <div style="margin-top: 5%;">
                    <h3>Enjoy Our Services With Your Valuable Money
                        <i style="margin-left: 3px;" class="fa-solid fa-hand-holding-dollar"></i>
                    </h3>
                   <div style="margin-top: 45px;"><h5 style="opacity: 0.7;"><i style="padding-right: 6px;opacity: 1;" class="fa-solid fa-envelope"></i>murali.eshop@nendrasys.com</h5></div>
            </div>
        </div>
    </div>



</div>