#cardtop {
    position :relative;
    display: flex;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.2);
    /* border-radius: 25rem; */
}
/* #topitemlist {
    display: flex;
    flex-direction: row;
} */

.item {
    color:rgb(16, 16, 73);
    
}
.item a:hover {
color: orangered
}
#cardimg {
    width: 90%;
    height: 50%;
    margin-bottom: 15px;
    transform: scale(1.1);
   
}

#cardimg:hover {
    display: cover;
    transform: scale(1.2); 
    transition: transform .2s; 
    
}

#itemcard {
    padding: 20px;
    padding-bottom: 0px;
    margin: 30px;
    box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%)
}



#itemrepeat {
    box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%)
     
}
#cartsider{
    position: fixed;
    /* z-index: 1; */
    top: 48%;
    right: 1%;
    background-color: #4ea6bc;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    display: flex;
    width: 79px;
    height:79px;

}

.cartSideStyle {
    position: fixed;
    top: 48%;
    right: 1%;
    background-color: #4ea6bc;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    display: flex;
    width: 79px;
    height:79px;
    transform: scale(1); 
    transition: transform 0.5s;
}

.moveStyle {
    transform: scale(1.2); 
    transition: transform 0.5s; 
    fill-opacity: 0.1;
    position: fixed;
    /* z-index: 1; */
    top: 48%;
    right: 1%;
   
    text-align: center;
    align-items: center;
    border-radius: 50%;
    display: flex;
    width: 79px;
    height:79px;
}

/* #cartsider:hover {
    transform: scale(1.2); 
    transition: transform .2s; 
    fill-opacity: 0.1;
} */



.normalStyle{
    color: #4ea6bc;
}

.likeStyle {
    color: red;
}