#cardtop {
    position :relative;
    display: flex;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 25rem;
}
/* #topitemlist {
    display: flex;
    flex-direction: row;
} */
.item a:hover {
color: blue;
}
#cardimg {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transform: scale(1.1);
   
}

#cardimg :hover {
    transform: scale(1.5); 
    transition: transform .2s; 
}

#itemcard {
    padding: 20px;
    margin: 30px;
}