<div id="cardtop" class="card-top container-fluid">
    <div id="topitemlist" class="container d-flex">
        <div style="text-align: center;" class="item">
            <a (click)="filter('')">
                <img style="width: 100px;"
                    src="https://media.istockphoto.com/photos/birthday-gift-christmas-present-red-box-isolated-on-white-picture-id1053404714?k=20&m=1053404714&s=612x612&w=0&h=THHc9RXxWdm2ZoPuzaMW3ePeiMfNN4KjJ7q0MwWe7Pg=">
                <h6>All Products</h6>
            </a>
        </div>
    </div>
    <div class="container d-flex">
        <div class="item">
            <a (click)="filter('electronics')">
                <img style="width: 100px;"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRi1JYBzZs_nwKAwGgBCthhlR_3xO-gXvDkBw&usqp=CAU">
                <h6>Electronics</h6>
            </a>
        </div>
    </div>
    <div class="container d-flex">
        <div class="item">
            <a (click)="filter('fashion')">
                <img style="width: 100px;"
                    src="https://thumbs.dreamstime.com/b/%CE%BD%CE%AD%CE%B1-%CF%80%CE%B5%CF%81%CE%B9%CF%83%CF%84%CE%B1%CF%83%CE%B9%CE%B1%CE%BA%CE%AC-%CF%80%CF%81%CF%8C%CF%84%CF%85%CF%80%CE%B1-%CE%BC%CF%8C%CE%B4%CE%B1%CF%82-%CF%80%CE%BF%CF%85-%CE%B8%CE%AD%CF%84%CE%BF%CF%85%CE%BD-%CF%83%CF%84%CE%BF-%CF%83%CF%84%CE%BF%CF%8D%CE%BD%CF%84%CE%B9%CE%BF-38190448.jpg">
                <h6>Fashion</h6>
            </a>
        </div>
    </div>
    <div class="container d-flex">
        <div class="item">
            <a (click)="filter('jewelery')">
                <img style="width: 80px;"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0tq_MszjNdVS7YRtQhLkmuXRdY7yEA68AO9zLLY_rNGaqvNH2YOZxJja5j8eaJoKFLXY&usqp=CAU">
                <h6>Jewellery</h6>
            </a>
        </div>
    </div>
</div>
<div style="background-color:#f2f6f9;">
    <div class="container">
        <div class="row">
            <ng-container style="padding-bottom: 0;" id="itemrepeat"
                *ngFor="let item of filterCategory | filter:searchKey: 'title'">
                <!-- here initailly productList is there in place of filterCategory   -->
                <!-- here title is the propname / searchKey is the filterString / let item of product list acts as a value what it mentoned in shared.filter.ts -->
                <div id="itemcard" class="card col-md-2">
                    <img id="cardimg" src="{{item.image}}" alt="">
                    <h5 style="white-space: nowrap;overflow: hidden; text-overflow: ellipsis;max-width: 100ch;">
                        {{item.title}}</h5>
                    <p style="white-space: nowrap;overflow: hidden; text-overflow: ellipsis;max-width: 100ch;">
                        {{item.description}}</p>
                   <div style="display: inline-flex;"><p><strong>Price:</strong>${{item.price}}</p> 
                   
                    <i style="margin-left: 10%;" [ngClass]="[iconStyle]" (click)="like()" class="fa-solid fa-2x fa-heart"></i></div> 

                    <button class="btn " style="background-color:rgb(16, 16, 73); color: orangered;"
                        (click)=addtocart(item)>Add to cart</button>
                </div>
            </ng-container>

        </div>
    </div>
</div>
<div id="cartsider" > <button  routerLink="/cart" style="margin-left: 5%;text-decoration: none;" class="btn">
    <i id="carticon" style="color: white;font-size: 24px;" class="fas  fa-cart-plus"></i>
    <div style="font-size: 10px;background-color: orangered;" id="noofitems" class="badge ">{{totalItem}}</div>
   </button>
</div>