
<div class="row" style="width: 98%;margin-bottom: 5%;margin-left:1%;">
    <div class="col-sm-8">
        <app-ptmheader></app-ptmheader>
        <div class="row">
            <div class="col-sm-12">
                <div class="container" style="padding-left: 9%;">
                    <div class="row">
        
                        <div id="loginbox" class="col-sm-6" style="margin-top: 6%; ">
        
                            <h2 style="text-align: center;">Login </h2>
                            <h6 style="text-align: center;">Enter your username and password</h6>
                            <form [formGroup]="loginForm" style="margin-top: 5%;" (ngSubmit)="login()">
                                <div class="sm-3">
                                    <label for="exampleInputEmail1">User Email</label>
                                    <input formControlName="email" type="text" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter UserName">
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                        else.</small>
                                </div>
                                <div class="sm-3">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input formControlName="password" type="password" class="form-control"
                                        id="exampleInputPassword1" placeholder="Password">
                                </div>
        
                                <a routerLink="/signup" type="button" style="padding-left: 3%;text-decoration: none;">New
                                    User/SignUp</a>
                                <button
                                    style="margin-top: 3%;margin-bottom: 1%;margin-left: 70%;background-color: #4ea6bc;border-color: white;"
                                    type="submit" class="btn btn-primary">Login</button>
        
        
                            </form>
        
                        </div>
                        <div class="col-sm-2" style="margin-top: 6%;">
                            <h3 style=" margin-top: 11%; ; margin-left: 33%;">or</h3>
                        </div>
                        <div id="loginbox" class="col-sm-4" style="margin-top: 6%;">
        
                            <button routerLink="/ptmpage2" class="btn btn-primary" style="margin-top: 48%; margin-bottom: 48%; margin-left: 19%;">Continue As Guest </button>
        
        
                        </div>
        
        
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
    <div class="col-sm-4" style="padding-top: 4px;">
      
        <app-slidecart></app-slidecart>
    
    </div>
</div>



