<ng-container *ngIf="showed.length !=0">

    <div style="margin-bottom: 5%;margin-top: 100px;" class="container">
        <div class="row" *ngFor="let item of showed">
            <div class="col-sm-6" style="display: inline-flex;">
                <div><img style="width: 40%;" src="{{item.image}}" alt=""></div>


            </div>
            <div class="col-sm-6">
                <h1>{{item.title}}</h1>
                <select itemid="nitemselector" style="width: 100%;" placeholder="Select Size" name="nitems" id="">
                    <option >Select Size</option>
                    <option >S</option>
                    <option value="1">M</option>
                    <option value="1">L</option>
                    <option value="1">XL</option>
                    <option value="1">XXL</option>
                </select>
                <div>
                    <nav style="margin-top: 5px;">
                        <h3 style="text-align: right;">
                          <span style="margin-right: 70px;"> <button type="button" class="btn" (click)="dec(item)"><i class="fa fa-minus"></i></button>{{item.quantity}}<button type="button" class="btn" (click)="inc(item)"><i class="fa fa-plus"></i></button></span> 
                            <span style="margin-right: 60px;"><span>$</span>{{item.price}}</span>
                            <button id="addcartbtn" (click)=addtocart(item) > <span style="font-size: 18px;font-weight: 700;">Add to Cart</span> </button>
                        </h3>
                    </nav>
                </div>
                <div style="margin-top:20px ;" class="comtainer">
                    {{item.description}}
                </div>

            </div>
        </div>
    </div>
</ng-container>